        services:
          app:
            build:
              context: .
              dockerfile: Dockerfile.app
            ports:
              - "80:3000" # Приложение будет доступно на порту 80 вашего компьютера
            environment:
              # Эти переменные будут заполнены из .env файла, который создаст GitHub Actions
              DB_HOST: ${DB_HOST}
              DB_PORT: ${DB_PORT}
              DB_NAME: ${DB_NAME}
              DB_USER: ${DB_USER}
              DB_PASSWORD: ${DB_PASSWORD}
              APP_PORT: ${APP_PORT}
            healthcheck: # Проверка работоспособности приложения
              test: ["CMD", "curl", "-f", "http://localhost:${APP_PORT}/health"]
              interval: 10s
              timeout: 5s
              retries: 5
            depends_on:
              - db

          db:
            image: postgres:13 # Используем образ PostgreSQL версии 13
            environment:
              POSTGRES_DB: ${DB_NAME}
              POSTGRES_USER: ${DB_USER}
              POSTGRES_PASSWORD: ${DB_PASSWORD}
            volumes:
              - db_data:/var/lib/postgresql/data # Сохраняем данные БД

        volumes:
          db_data: # Объявляем том для данных БД
